<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>닉네임 수정</title>
</head>
<body>
<h1>닉네임 수정</h1>
<form th:method="POST" th:action="@{/board/profile/edit}" th:object="${boardProfileRequest}">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="text" th:field="*{nickname}" placeholder="닉네임 (2~20자)"/>
    <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" style="color:red"></p>
    <button type="submit">수정</button>
</form>
</body>
</html>